@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    overflow-x: hidden;
    font-family: Montserrat;
    background-color: #fff;
}

button{
    background-color: #b17b18;
    color: #fff;
    box-shadow: 2px 2px #000;
    border: none;
}

button:hover{
    box-shadow: 5px 5px #000;
}