#footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 1.5rem;
    background-color: #8b8468;
    width: 100vw;
}

#footer-links-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

#footer-link{
    color: #000;
    text-decoration: none;
}

.footer-links{
    text-decoration: none;
}

#subscription-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    justify-self: end;
    margin-right: 5em;
}

#input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#subscription-container p{
    align-self: flex-start;
}

#email-input{
    height: 2.5rem;
    font-size: 1.5rem;
}

#subscribe-button{
    height: 2.5rem;
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    #footer{
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
    }

    #subscription-container{
        margin:0;
        padding-right: .5em;
        box-sizing: border-box;
    }

    #subscription-container p{
        padding-left: .5em;
    }

    #input-cotainer{
        width: 100%;
    }

    #email-input{
        width: 70%;
        font-size: 1rem;
    }
}