:root{
    --fontColor: #000;
}

.main-page{
    background-color: #eaf0e7;
    min-width: 100vw;
}
#main-image{
    width: 100%;
    opacity: 1;
}

h2{
    font-size: 2rem;
}

#featured-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #eaf0e7;
}

.reason p{
    font-weight: bold;
}

#reason-details{
    font-weight: normal;
}
#h1{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5em auto 0 auto;
    font-size: 5rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#h1 p{
    margin-top: 0;
    color: var(--fontColor);
    font-weight: bold;
    text-align: center;
}

#h1 button{
    font-size: 2rem;
    padding: 0 1em;
}   

#category-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#category{
    width: fit-content;
    display: grid;
    grid-template-rows: 3fr 1fr;
    text-align: center;
}

#category-image{
    max-height: 15rem;

    justify-self: center;
    align-self: center;
    height: min-content;
}

#category-image:hover{
    transform: scale(1.05);
}

#mission-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

#reason-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 0 5em;
}

.reason{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reason-details{
    max-width: 15rem;
    text-align: center;
}

#reason-image{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

@media only screen and (max-width: 1024px){
    #category-image{
        width: 250px;
    }

    #h1 p{
        margin-bottom: 0;
        font-size: 3rem;
    }

    #h1{
        top: 0;
        margin-top: 30%;
    }
}

@media only screen and (max-width: 768px){
    #category-image{
        width: 220px;
    }

    #reason-image{
        width: 220px;
        height: 220px;
    }
}

@media only screen and (max-width: 425px){
    #h1 p{
        font-size: 2rem;
    }

    #h1 a{
        height: fit-content;
    }

    #category-image{
        width: 120px;
        align-self: flex-start;
    }

    #featured-categories{
        height: fit-content;
    }

    #category{
        grid-template-rows: auto auto;
    }

    #reason-image{
        width: 100px;
        height: 100px;
    }

    #reason-container{
        padding: 0;
    }
} 
