:root{
    --fontColor: #000;
}

.main-page{
    background-color: #eaf0e7;
}
#main-image{
    width: 100vw;
    opacity: 1;
}

h2{
    font-size: 2rem;
}

#featured-categories{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #eaf0e7;
}


#h1{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5em auto 0 auto;
    font-size: 5rem;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

#h1 p{
    margin-top: 0;
    color: var(--fontColor);
    font-weight: bold;
}

#h1 button{
    font-size: 2rem;
    padding: 0 1em;
}   

#category-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#category{
    width: fit-content;
    display: grid;
    grid-template-rows: 3fr 1fr;
    text-align: center;
}

#category-image{
    width: 25rem;
    justify-self: center;
    align-self: center;
    height: min-content;
}

#mission-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

#reason-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 0 5em;
}

.reason{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reason-details{
    max-width: 15rem;
    text-align: center;
}

#reason-image{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

