#product-container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 2em;
    min-height: 100vh;
    padding-top: 5em;
}

#product-details{
    display: flex;
    flex-direction: column;
    align-self: center;
}

#product-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#price{
    margin-right: 10em;
}

#description{
    font-size: 1.5rem;
}

#description button{
    font-size: 1.5rem;
    margin-top: 2em;
}