#shop-content-container{
    display: flex;
    flex-direction: row;
}
#shop-header{
    display: grid;
    grid-template-columns: 3rem auto;
}

#shop-header p{
    align-self: center;
    justify-self: center;
}

#filter-icon{
    justify-self: flex-start;
    align-self: flex-start;
}

#filter-sidebar{
    width: 20vw;
    height: fit-content;
}

#filter-options-container{
    display: flex;
    flex-direction: column;
    padding: 1em;

}

#filter-option{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    border-style: none;
    border-radius: 20px;
    background-color: honeydew;
    margin-bottom: 1em;
    padding: .5em;
}

#filter-option p{
    margin: 0;
    margin-left: 1em;
}
#items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 0;
    width: 80vw;
}

#item{
    height: 30rem;
    border-style: solid;
    margin: 2em;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#item img{
    height: 26rem;
    width: 20rem;
    align-self: center;
}