#shop{
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

#shop-content-container{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    color: #000;
    padding-top: 5em;
}

#shop-header{
    display: grid;
    grid-template-columns: 3rem auto;
}

.shop-link{
    color: #000;
    text-decoration: none;
}

#shop-header p{
    align-self: center;
    justify-self: center;
}

#filter-icon{
    justify-self: flex-start;
    align-self: flex-start;
}

#filter-sidebar{
    width: 20vw;
    height: fit-content;
}

#filter-options-container{
    display: flex;
    flex-direction: column;
    padding: 1em;

}

#filter-sidebar button{
    width: fit-content;
    align-self: center;
    font-size: 1.5rem;
}
.filter-option{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    border-style: none;
    border-radius: 20px;
    background-color: honeydew;
    margin-bottom: 1em;
    padding: .5em;
}

#styled-option{
    background-color: rgb(203, 214, 203);
}

#filter-option p{
    margin: 0;
    margin-left: 1em;
}
#items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 0;
    width: 80vw;
    height: fit-content;
}


#item{
    height: fit-content;
    margin: 2em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: #000;
    font-weight: bold;
}

#item:hover{
    transform: scale(1.01);
}

#item img{
    height: 26rem;
    width: 20rem;
    align-self: center;
}

#item p{
    text-decoration: none;
}


@media only screen and (max-width: 1024px) {
    #item img{
        max-height: 13rem;
        width: 10rem;
    }

    #shop{
        background-color: red;
    }
}

@media only screen and (max-width: 768px) {
    #item{
        margin: 0;
    }


    #items-container{
        grid-template-columns: repeat(3, fit-content);
        width: min-content;
    }
}